 *{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
 }

 body {
    background-color: #FFFEFA;
 }


 /* common class */


.btn {
    background-color: #872bff;
    border:none;
    padding: 14px 30px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    box-shadow: 0 11px 31px 0 #8c8c8c;
    cursor: pointer;
    margin-right: 40px;
}

.btn-white {
    background-color: white;
    color: black;
    border: 2px solid #872bff;
    margin-top: 20px;
}


.container {
    width: 87.5%; 
    margin: 0 auto;
     
}

 .heading {
    margin-bottom: 60px;
    text-align: center;
 }

 .heading h4 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #6A14DA;
    font-weight: bold;
    margin-bottom: 20px;
 }

 .heading h2 {
    font-size: 44px;
 }

 .card-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
 }
 
 #hero {
    
    padding-top: 20px; 
    background-image: url(images/assets/Hero-bg.png);
    background-size: 500px;
    margin-bottom: 100px;

 }


 #hero-container {
     width: 87.5%;
     display: flex;
     align-items: end;
     justify-content: space-between;
     gap: 80px;
     margin: 0 auto;
     padding-right: 20px; 
     

 }

 #hero-content {
    padding-bottom: 100px;
 }
 #hero-content h1{
    font-size:40px;
    margin-bottom: 30px;
 }

 #hero-content h1 span {
    color: #872bff;
     
 }


 #hero-content p {
    font-size: 18px;
    color: #8a8a8a;
    font-weight: 500px;
    line-height: 26px;
    margin-bottom: 30px;
 }

 #hero-image {
    
    

 }


 /* box section */

   #skill {
      margin-bottom: 100px;
   }

   .card-box {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 30px;
      flex-wrap: wrap;
   }

   .card {
      width:30%;
      display: block;
      flex-wrap: wrap;      
      background-color:#FFFFFF;
      padding: 40px;
      text-align: center;
      box-shadow:0 4px 4px #00000025;
      border-radius: 10px;
      border: 0.5px solid black;
      
   }

   .card * {
      margin-bottom: 20px;
   }

   .card h3 {
      font-size: 22px;
      font-weight: bolder;

   }

   .card p {
      font-size: 16px;
      color: #0d1321;
   }

   .card a {
      color: black;
      font-weight: bold;
   }

   /* project section */

   #projects {
      margin-bottom: 100px;
      
   }
.project-box {
   width: 100%;
   height: auto;
}

   .project-card {
      padding: 50px;
      border-color: #FFFFFF;
      border: 0.5px solid blueviolet;
      border-radius: 20px;
      display: flex;
      gap: 20px;
      align-items: center;
      margin-bottom: 60px;
      
   }

   .project-img img {
      width: 400px;
      border-radius: 20px;
   }


   .project-content h3 {
      font-size: 30px;
      margin-bottom: 20px;
       

   }

   .project-content span {
      margin-bottom: 20px;
       
       
   }

   .project-content p {
      margin-bottom: 20px;
       color: #0e0e0e70;
       
   }

    #Download-btn {
      width: 200px;
      margin-bottom: 20px;
    }


    /* IELTSTAR section */


   .project-ieltstar{
     display: flex;
     align-items: center;
      flex-direction: row;
     justify-content: space-between;
     align-items: center;
     gap: 30px;
     
   }

.project-ieltstar h3 {
      margin-bottom: 30px;

      font-size: 24px;
      font-weight: 700;

   }

   .project-ieltstar span {
      margin-bottom: 20px;
      
   }

   .project-ieltstar p {
      margin-bottom: 20px;
      font-size: small;
       
   }

    .Download-btn {
      width: 200px;
      margin-bottom: 20px;
    }


    .book-image {
       width: 40%;
       
       
    }

    .book-image img {
      width: 100%;
      height: auto;
    }

    /* Experience section */

 #Experiences-container {
   margin-bottom: 100px;
 }

 .company-cards{
   display:flex;
   justify-content: center;
   gap: 40px;
   flex-wrap: wrap; 
   
 }

 .brands {
   width: 250px;
   padding: 40px;
   background-color: white;
   box-shadow: 0 4px 4px #00000025;
   border-radius: 10px;
   margin-bottom: 30px;
 }
 .btn-container {
   display: flex;
   justify-content: center;
 }


 /* media query  */


 @media (max-width: 768px){

  #hero-container{
    flex-direction: column;
    text-align: center;
  }

  #hero-image img{
    width: 100%;
    max-width: 280px;
  }

  .card-box{
    flex-direction: column;
  }

  .card{
    width: 100%;
  }

  .project-card{
    flex-direction: column;
    text-align: center;
  }

  .project-img img{
    width: 100%;
  }

  .company-cards{
    flex-direction: column;
    align-items: center;
  }

}
 
 